*{
    margin: 0;
    padding: 0;
    background-color: #272635;

}
h1{
    text-align: center;
    color: #E8E9F3;
}

.everythingContainer{
    display: flex;  
    justify-content: space-evenly;
    width: 700px;
    margin: auto;
    margin-top: 20px;
}
.buttons{
    cursor: pointer;
    padding-top: 5px;
    height: 45px;
    width: 80px;
    background-color: #B1E5F2;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    color: #272635;
    font-family: fantasy;
    font-size: 1.2em;
    text-align: center;
    outline: none;
    box-shadow: 0 6px #999;
}
.buttons:hover {background-color:#90bac4}

.buttons:active{
    background-color: #90bac4;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

.container{ 
    width: 600px;
    height: 600px;
    margin: auto;
    border: 60px solid #B1E5F2;
    border-radius: 5%;
    display: grid;
    grid-template-columns: repeat(8, 1fr );
    grid-template-rows: repeat(8, 1fr);  
}

.items{
    box-sizing: border-box;
    margin: 0px;
    border: 1px solid black;
    background-color: white;
}

.label{
    transform: translateY(10px);
    font-size: 1.2em;
    color: #B1E5F2;
}
.submit{
    color: #272635;
    font-size: 1.3em;
    height: 40px;
    background-color: #B1E5F2;
    border-radius: 20px;
}
.main{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top:10px;
}
.title{
    width: 600px;
    font-family: fantasy;
    margin: auto;
    background-color: #272635;
    color: #B1E5F2;
}

